<section id="about">
  <div class="container">
    <h2 class="section-heading">About</h2>

    <p>
      The Virginia Robotics Symposium (VRS) brings together robotics researchers from across the state of Virginia. VRS is a one-day event with research talks, poster presentations, and social activities. The goal of VRS is to build connections, disseminate research ideas, and facilitate the creation of larger, multi-institutional, and interdisciplinary teams.
    </p>

    <h2>Registration</h2>
      <p>
        Attendance is free. <a href="https://forms.gle/kZqn8FiG34DM8L5s5"><b>Click here to register!</b></a>
      </p>

    <h2>Poster Presentations</h2>
      <p>
        Students are encouraged to present research posters. <a href="https://forms.gle/yvcqymfzpSJ5zLj17"><b>Click here to sign up for a poster presentation!</b></a>
      </p>

    <h2>Participants</h2>
    <center>
      <img src="/assets/img/participants/schools.svg" style="width:100%;" />
    </center>

  </div>
</section>
