<section id="about">
  <div class="container">
    <h2 class="section-heading">About</h2>

    <p>
      The Virginia Robotics Symposium (VRS) aims to bring together Virginia robotics researchers. VRS is a one-day event with research talks, poster presentations, and social activities. The goal of VRS is to share exciting ideas and build new connections in the robotics research community across the Commonwealth.
    </p>

    <h2>Registration</h2>
      <p>
        Attendance is free. <a href="https://forms.gle/kZqn8FiG34DM8L5s5"><b>Click here to register!</b></a>
      </p>

    <h2>Participants</h2>
    <center>
      <img src="/assets/img/participants/schools.svg" style="width:100%;" />
    </center>

  </div>
</section>
