<section id="program">
  <div class="container">
      <h2 class="section-heading">Program</h2>

      <p>
        VRS will be held as a one-day event with keynote talks, panel debates, poster presentations, and social activities. This year's symposium takes place on November 14th from 9:30AM to 5PM.
      </p>

      <h2>Faculty Speakers</h2>

      <table id="speaker-table">
      {% for speaker in site.data.speakers %}
      <tr>
        <td style="vertical-align:middle; width:30%;">
          <center>
            <img src="/assets/img/people/{{ speaker.image }}" style="max-height:200px; border-radius: 5px" />
          </center>
        </td>
        <td style="vertical-align:middle; width:70%;">
          <center>
            <h2><a href="{{ speaker.website }}">{{ speaker.name }}</a></h2>
            <p class="text-muted">{{ speaker.affiliation }}</p>
            <h3><i> {{ speaker.talk }} </i></h2>
          </center>
        </td>
      </tr>
      {% endfor %}
    </table>

  </div>
</section>
