<section id="schedule">
  <div class="container">
    <h2 class="section-heading">Schedule</h2>
    <p>
      Speakers and topics will be posted as they are confirmed.
    </p>

    <table id="schedule-table">
        <tr>
          <th>Time</th>
          <th>Schedule</th>
          <th>Location</th>
        </tr>
        <tr>
          <td>10:00 AM</td>
          <td>Welcoming Remarks</td>
          <td>Link Lab</td>
        </tr>
        <tr>
          <td>11:00 AM</td>
          <td>Speaker X</td>
          <td>Link Lab</td>
        </tr>
        <tr>
          <td>12:00 AM</td>
          <td>Lunch</td>
          <td>UVA</td>
        </tr>
    </table>
  </div>
</section>
