<section id="schedule">
  <div class="container">
    <h2 class="section-heading">Schedule</h2>
    <p>
      Speaker times and topics will be posted as they are confirmed.
    </p>

    <table id="schedule-table">
        <tr>
          <th>Time</th>
          <th>Schedule</th>
          <th>Location</th>
        </tr>
        {% for event in site.data.schedule %}
        <tr>
          <td>{{ event.time }}</td>
          <td>{{ event.event }}</td>
          <td>{{ event.place }}</td>
        </tr>
        {% endfor %}
    </table>
  </div>
</section>
