<section id="contact">
  <div class="container">
    <h2 class="section-heading">Contact</h2>

    <p>
      For more information, please contact Dylan Losey (losey@vt.edu), Nicola Bezzo (nbezzo@virginia.edu), or Xuesu Xiao (xiao@gmu.edu).
    </p>
    
    <table>
      <tr>
        <td style="vertical-align:middle; width:30%;">
          <center>
            <img src="/assets/img/people/losey.jpg" style="max-height:200px; border-radius: 5px" />
            <h2><a href="https://dylanlosey.com/">Dylan Losey</a></h2>
            <p class="text-muted">Virginia Tech</p>
          </center>
        </td>
        <td style="vertical-align:middle; width:30%;">
          <center>
            <img src="/assets/img/people/bezzo.jpg" style="max-height:200px; border-radius: 5px" />
            <h2><a href="https://www.bezzorobotics.com/">Nicola Bezzo</a></h2>
            <p class="text-muted">University of Virginia</p>
          </center>
        </td>
        <td style="vertical-align:middle; width:30%;">
          <center>
            <img src="/assets/img/people/xiao.jpg" style="max-height:200px; border-radius: 5px" />
            <h2><a href="https://cs.gmu.edu/~xiao/">Xuesu Xiao</a></h2>
            <p class="text-muted">George Mason</p>
          </center>
        </td>
      </tr>
    </table>
    
  </div>
</section>
