<!DOCTYPE html>
<html>
  {% include head.html %}

  <body id="page-top" class="index">
    {% include header-home.html %}

    <br />
    <br />

    <header>
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading" style="line-height: 1.5">
            Virginia Robotics Symposium<br />
          </div>
          <br />
          <br />
          <div class="section-heading">November 14th, 2025<br /><br /></div>
          <div class="section-heading">Link Lab<br /></div>
          <div class="section-heading">Charlottesville, VA<br /></div>
        </div>
      </div>
    </header>

    {% include about.html %}
    {% include program.html %}
    {% include schedule.html %}
    {% include venue.html %}
    {% include contact.html %}
    {% include talks.html %}
    {% include footer.html %}
    {% include js.html %}
  </body>
</html>
